input {
	font-size: 1.17em;
	font-weight: 700;
	display: inline;
	margin: 5px;
	height: 50px;
	font-family: arial;
}

tr * {
	width: 25vw;
}

td {
	text-align: center;
	vertical-align: top;
}

.odd {
	background: #ccc;
}

.even {
	background: #eee;
}

i {
	font-size: 1.2rem;
}

input:active,
input:focus {
	background: #eee;
}

html {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	text-align: justify;
}

::selection {
	background-color: rgba(77, 151, 255, 0.25);
}

h1,
h2,
h3,
h4,
h5,
p {
	line-height: 1.7em;
	width: 100%;
	margin: 0;
	text-align: center;
}

body {
	font-display: swap;
}
